<% content_for :css do %>
<%= stylesheet_link_tag "input.css",media: 'all', 'data-turbolinks-track' => true %>
<% end %>

<% if @name_flag then %>
<em>
  同じユーザーがいます
</em>
<br>
<% end %>
<% if @score_flag then %>
<em>
  スコアが不正です
</em>
<br>
<% end %>
<div class="panel panel-default">
  <div class="panel-heading">点数入力</div>
  <%= form_tag('/input') do %>
  <table width="100%">
    <thead>
      <tr>
	<th>面子</th>
	<th>
	  東
	  <%= select_tag 'ton[name]', options_from_collection_for_select(@users, :id, :name) %>
	</th>
	<th>
	  南
	  <%= select_tag 'nan[name]', options_from_collection_for_select(@users, :id, :name) %>
	</th>
	<th>
	  西
	  <%= select_tag 'sha[name]', options_from_collection_for_select(@users, :id, :name) %>
	</th>
	<th>
	  北
	  <%= select_tag 'pei[name]', options_from_collection_for_select(@users, :id, :name) %>
	</th>
      </tr>
    </thead>
    <tbody>
      <tr>
	<td></td>
	<td>
	  <%= text_field :ton, :score, class: "input-score" %>
	</td>
	<td>
	  <%= text_field :nan, :score, class: "input-score" %>
	</td>
	<td>
	  <%= text_field :sha, :score, class: "input-score" %>
	</td>
	<td>
	  <%= text_field :pei, :score, class: "input-score" %>
	</td>
	<td>
	  <button href="#" class="btn">送信</button>
	</td>
      </tr>
    </tbody>
  </table>
  <% end %>
</div>

<%= render :file => 'result_table' %>
