<% content_for :css do %>
<%= stylesheet_link_tag "input.css",media: 'all' %>
<% end %>

<% if @name_flag then %>
<em>
  同じユーザーがいます
</em>
<br>
<% end %>
<% if @score_flag then %>
<em>
  スコアが不正です
</em>
<br>
<% end %>
<div class="panel panel-default">
  <div class="panel-heading">点数入力</div>
  <%= form_tag('/input') do %>
  <table width="100%">
    <thead>
      <tr>
	<th>面子</th>
	<th>
	  東
	  <%= select_tag 'ton[name]', options_from_collection_for_select(@users, :id, :name) %>
	</th>
	<th>
	  南
	  <%= select_tag 'nan[name]', options_from_collection_for_select(@users, :id, :name) %>
	</th>
	<th>
	  西
	  <%= select_tag 'sha[name]', options_from_collection_for_select(@users, :id, :name) %>
	</th>
	<th>
	  北
	  <%= select_tag 'pei[name]', options_from_collection_for_select(@users, :id, :name) %>
	</th>
      </tr>
    </thead>
    <tbody>
      <tr>
	<td></td>
	<td>
	  <%= text_field :ton, :score, class: "input-score" %>
	</td>
	<td>
	  <%= text_field :nan, :score, class: "input-score" %>
	</td>
	<td>
	  <%= text_field :sha, :score, class: "input-score" %>
	</td>
	<td>
	  <%= text_field :pei, :score, class: "input-score" %>
	</td>
	<td>
	  <button href="#" class="btn">送信</button>
	</td>
      </tr>
    </tbody>
  </table>
  <% end %>
</div>

<div class="panel panel-default">
  <div class="panel-heading">最近の結果</div>
  <table class="result-table table table-bordered" width="100%">
    <thead>
      <tr>
	<% for num in 0..3%>
	<th width="25%"><%= 4 - num %>位</th>
	<% end %>
      </tr>
    </thead>
    <tbody>
      <% @hands.each do |hand| %>
      <tr>
	<% hand.scores.each do |score| %>
	<td width="25%">
	  <div class="row text-center">
	    <div class="col-md-8">
	      <%= @users.find(score.user_id).name %>
	    </div>
	    <div class="col-md-4">
	      <%= score.score %>
	    </div>
	  </div>
	</td>
	<% end %>
      </tr>
      <% end %>
    </tbody>
  </table>
</div>
