<% content_for :css do %>
<%= stylesheet_link_tag "new",media: 'all' %>
<% end %>

<div class="panel panel-default">
  <div class="panel-heading">登録</div>
  <%= form_for @new,:url => {:action => 'new'} do |f| %>
  <%= f.label :name, "名前" %>
  <%= f.text_field :name %>
  <button class="btn">送信</button>
  <% end %>
</div>
<div class="panel panel-default">
  <div class="panel-heading">一覧</div>
  <table width="100%">
    <% @user.each_slice 5 do |data| %>
    <tr>
      <%  data.each do |user| %>
      <td class="user-name" width="10%">
	<% if !(user.nil?) then %>
	<a><%= user.name %></a>
	<% end %>
      </td>
      <% end  %>
    </tr>
    <% end %>
  </table>
</div>
