<% content_for :js do %>
<%= javascript_include_tag "jquery.jqplot.min.js", 'data-turbolinks-track' => true %>
<%= javascript_include_tag "all.js", 'data-turbolinks-track' => true %>
<% end %>

<%
d = Date.today
if d.month < 4
  year = d.year-1
else
  year = d.year
end
-%>
<%= select_year(Date.today,
                {:start_year => year,
                 :end_year =>  year - 2
                })
%>
<div class="panel panel-default">
  <div class="panel-heading"><%= @result_title %></div>
  <table class="table table-bordered" width="100%">
    <thead>
      <tr>
        <% for num in 0..3%>
          <th class="text-center" width="25%"><%= num + 1 %>位</th>
        <% end %>
      </tr>
    </thead>
    <tbody>
      <tr class="score">
        <%for num in 0..3 %>
        <td width="25%">
          <div class="row text-center">
            <div class="col-md-8 score-name">
            </div>
            <div class="col-md-4 score-value">
            </div>
          </div>
        </td>
        <% end %>
      </tr>
    </tbody>
  </table>
</div>
