<% content_for :js do %>
  <%= javascript_include_tag "Chart.js", 'data-turbolinks-track' => true %>
  <%= javascript_include_tag "comp.js", 'data-turbolinks-track' => true %>
<% end %>


<table class="table table-bordered">
  <tbody>
    <tr>
      <th>
      </th>
      <% @user.each do |var| %>
        <th>
          <%= var.name%>
        </th>
      <% end %>
    </tr>
    <%  @user.each do |var| %>
      <tr>
        <th>
          <%=  var.name %>
        </th>
        <% @user.each do |user| %>
          <th>
            <% if @map[var.name][user.name].nil? %>
              0
            <% else %>
              <%= @map[var.name][user.name].round(2)%>
            <% end %>
          </th>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
<%= select(:user,:name,@user.map{|v| [v.name,v.id]},{},{:class => "user"}) %>
<%= button_tag("表示更新", class: "btn btn-default chart-botton") %>
<div>
  <canvas id="chart" width="400" height="400"></canvas>
</div>
