<!DOCTYPE html>
<html>
  <head>
    <title>Majan</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= yield :css %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= yield :js %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <%= render 'layouts/header' %>
    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>
